
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-Black-BF6556cee4bd4a0.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-BlackItalic-BF6556cee501b48.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-Bold-BF6556cee4cf0f3.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-BoldItalic-BF6556cee50cc1c.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-ExtraLight-BF6556cee4604f3.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-ExtraLightItalic-BF6556cee50e362.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-Light-BF6556cee4cd6b5.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-LightItalic-BF6556cee4df33d.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-Medium-BF6556cee4bc2e2.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-MediumItalic-BF6556cee4ec01d.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-Regular-BF6556cee4dd400.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-RegularItalic-BF6556cee4d38eb.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-SemiBold-BF6556cee507ac6.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-SemiBoldItalic-BF6556cee4dda03.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-Thin-BF6556cee4c7922.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BROmega';
    src: url('./src/fonts/BROmega-ThinItalic-BF6556cee4e448f.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
  }


*{
    font-family: 'BROmega', 'Courier New';
    font-weight: 400;
    font-style: normal;
    
    --pink: #E6007E;
    --purple: #663399;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.pattern {
  background: url('/assets/patteenYellow.png') -75% 0;
  background-repeat: repeat-x;
}